body{
    display: flex;
    flex-wrap: wrap
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.bubbles {
    display: flex;
    justify-content: center;
}
.bubble{
    display:inline-block;
}
.bubble .circleL{
    margin-left: 5px;
    margin-right: 5px;
    width:20px; height:20px;
    background:#FF8080;
    animation: pulse 1.5s infinite;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(0.2); opacity:0.75; }
    100%{ transform: scale(1); }
}
.bubbles > .bubble:nth-child(1) .circleL {
    animation-delay: 0.0s;
}
.bubbles > .bubble:nth-child(2) .circleL {
    animation-delay: 0.25s;
}
.bubbles > .bubble:nth-child(3) .circleL {
    animation-delay: 0.5s;
}
.bubbles > .bubble:nth-child(4) .circleL {
    animation-delay: 0.75s;
}